In [2]:
from sklearn.metrics import mean_squared_error
import math
import pandas as pd
y_actual = [1,2,3,4,5]
y_predicted = [1.6,2.5,2.9,3,4.1]
 
MSE = mean_squared_error(y_actual, y_predicted)
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

0.6971370023173351

Read DS 1

In [3]:
ds1 = pd.read_csv('2021DataSet1.csv')
ds1.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,true value,ses,svr,nn,rf,gpr,arima,prophet,silverkite,adarel,a2,a1
0,0,0,1000,0.36039,0.973348,0.999753,0.972745,0.971857,0.981526,0.973348,0.000000,0.000000,0.997268,NaN,NaN
1,1,1,1001,1.00000,0.972708,0.999797,0.972647,0.973117,0.978383,0.972708,0.969629,0.980830,0.997017,NaN,NaN
2,2,2,1002,1.00000,0.972708,0.999797,0.972646,0.972476,0.978619,0.972708,0.969716,0.981553,0.997044,NaN,NaN
3,3,3,1003,1.00000,0.972708,0.999797,0.973722,0.974960,0.978854,0.972708,0.971034,0.980768,0.997048,NaN,NaN
4,4,4,1004,1.00000,0.973644,0.999805,0.973724,0.973116,0.976312,0.973644,0.972128,0.981694,0.997118,NaN,NaN

Compute RMSE Boys! \
GPR and nn was empty for dataset3 ( ITM data) Got new values \
nn => new values DS1 nn.xlsx \
GPR => from file called "DS1-ITM_gaussian" which has labelled as SES but is aparently GPR. \
\
in datasetSEC updated GPR values from file named "Sec gpr"

In [26]:
import numpy as np
import pprint as pp
rmse_pd = pd.DataFrame(columns=['data_label', 'ses', 'svr', 'nn', 'rf', 'gpr', 'arima', 'prophet', 'silverkite', 'adarel'])
file_names= ['2021DataSet1.csv', '2021DataSet2.csv', '2021DataSet3.csv', '2021DataSetSEC.csv']

def get_rmse_list(filename="2021DataSet1.csv"):
    algos = ['ses', 'svr', 'nn', 'rf', 'gpr', 'arima', 'prophet', 'silverkite', 'adarel']

    ds = pd.read_csv(filename)
    # ds = ds[~ds.isin([np.nan, np.inf, -np.inf]).any(1)]
    ds = ds.replace([np.nan, np.inf, -np.inf], 1)
    #ds = ds[np.isfinite(ds).all(1)]

    result2 = {algo: math.sqrt(mean_squared_error(ds["true value"], ds[algo])) for algo in algos}
    result2['data_label'] = filename
    
    print(result2)
    return result2
all_res = [get_rmse_list(f) for f in file_names]
pp.pprint(all_res)
rmse_pd = pd.DataFrame.from_records(all_res)


rmse_pd.head()

{'ses': 0.09363693657527697, 'svr': 0.09685229645480002, 'nn': 0.09307882789103429, 'rf': 0.0929866678991735, 'gpr': 0.09447371684338364, 'arima': 0.0948894698369019, 'prophet': 0.10014746022910692, 'silverkite': 0.09531529344590646, 'adarel': 0.09545596256833494, 'data_label': '2021DataSet1.csv'}
{'ses': 0.009289197972736593, 'svr': 0.00995039167660309, 'nn': 0.009481087832714808, 'rf': 0.008866671222719155, 'gpr': 0.009932307112828866, 'arima': 0.00945010960054422, 'prophet': 0.010172120239005104, 'silverkite': 0.01067073399930866, 'adarel': 0.009606512760528704, 'data_label': '2021DataSet2.csv'}
{'ses': 0.15363543753925804, 'svr': 0.20535682023129362, 'nn': 0.14389542922094348, 'rf': 0.10556165095428177, 'gpr': 0.16578042581741145, 'arima': 0.15296815964745106, 'prophet': 0.13685972594072804, 'silverkite': 0.1347671054101218, 'adarel': 0.12916566004537877, 'data_label': '2021DataSet3.csv'}
{'ses': 0.0518454494475203, 'svr': 0.09138407380977025, 'nn': 0.04882512134721092, 'rf': 0.0601043188890382, 'gpr': 0.07762313588255117, 'arima': 0.08790029456044614, 'prophet': 0.10397824359301085, 'silverkite': 0.08991787701396302, 'adarel': 0.07742238280668796, 'data_label': '2021DataSetSEC.csv'}
[{'adarel': 0.09545596256833494,
  'arima': 0.0948894698369019,
  'data_label': '2021DataSet1.csv',
  'gpr': 0.09447371684338364,
  'nn': 0.09307882789103429,
  'prophet': 0.10014746022910692,
  'rf': 0.0929866678991735,
  'ses': 0.09363693657527697,
  'silverkite': 0.09531529344590646,
  'svr': 0.09685229645480002},
 {'adarel': 0.009606512760528704,
  'arima': 0.00945010960054422,
  'data_label': '2021DataSet2.csv',
  'gpr': 0.009932307112828866,
  'nn': 0.009481087832714808,
  'prophet': 0.010172120239005104,
  'rf': 0.008866671222719155,
  'ses': 0.009289197972736593,
  'silverkite': 0.01067073399930866,
  'svr': 0.00995039167660309},
 {'adarel': 0.12916566004537877,
  'arima': 0.15296815964745106,
  'data_label': '2021DataSet3.csv',
  'gpr': 0.16578042581741145,
  'nn': 0.14389542922094348,
  'prophet': 0.13685972594072804,
  'rf': 0.10556165095428177,
  'ses': 0.15363543753925804,
  'silverkite': 0.1347671054101218,
  'svr': 0.20535682023129362},
 {'adarel': 0.07742238280668796,
  'arima': 0.08790029456044614,
  'data_label': '2021DataSetSEC.csv',
  'gpr': 0.07762313588255117,
  'nn': 0.04882512134721092,
  'prophet': 0.10397824359301085,
  'rf': 0.0601043188890382,
  'ses': 0.0518454494475203,
  'silverkite': 0.08991787701396302,
  'svr': 0.09138407380977025}]

,ses,svr,nn,rf,gpr,arima,prophet,silverkite,adarel,data_label
0,0.093637,0.096852,0.093079,0.092987,0.094474,0.094889,0.100147,0.095315,0.095456,2021DataSet1.csv
1,0.009289,0.009950,0.009481,0.008867,0.009932,0.009450,0.010172,0.010671,0.009607,2021DataSet2.csv
2,0.153635,0.205357,0.143895,0.105562,0.165780,0.152968,0.136860,0.134767,0.129166,2021DataSet3.csv
3,0.051845,0.091384,0.048825,0.060104,0.077623,0.087900,0.103978,0.089918,0.077422,2021DataSetSEC.csv

In [ ]:
rmse_pd.head()